.suggestions-bar {
  padding: 1rem;
}

.suggestions-label {
  align-self: flex-start;
}

.suggestion-card {
  margin: 0.1rem 0;
  width: 18rem;
  padding: 0.2rem;
}

.suggestion-card-name-image {
  gap: 0.5rem;
}

.suggestion-card-name-div {
  align-items: flex-start;
  vertical-align: middle;
}

.suggestion-card-btn {
  display: flex;
  flex-direction: column;
  align-self: center;
}
